.main
  %header.destination
    = image_tag('map.svg')
    .codrops-links
    %h1.header-title
      %span.header-title__main Jamaica
      %span.header-title__part A Caribbean Adventure
      %span.header-title__sub
        An interactive storytelling experiment with Canvas.
        = succeed "Photo" do
          %br/
        = succeed "." do
          %a{:href => "http://instagram.com/danrubin/"} Dan Rubin
  .intro
    %blockquote
      %em
        “Twenty years from now you will be more disappointed by the things you didn’t do
        = succeed "than" do
          %br/
      %span Mark Twain