/* line 1, /Users/derricklannaman/.rvm/gems/ruby-2.2.3/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/table.css.scss */
span.pk {
  color: brown;
}

/* line 5, /Users/derricklannaman/.rvm/gems/ruby-2.2.3/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/table.css.scss */
.delete_td, .edit_td {
  width: 24px;
}

/* line 9, /Users/derricklannaman/.rvm/gems/ruby-2.2.3/gems/rails_db-1.1.1/app/assets/stylesheets/rails_db/table.css.scss */
.column-name {
  float: left;
  width: 20%;
}
