%nav#menu-2.st-menu.nav-reveal
  %ul
    %li
      %a.icon.icon-destinations{:href => "#"} Destinations
    %ul.location-list
      %li.location-list-item
        = link_to "discover Jamaica".titleize, discover_jamaica_path, class: "icon icon-location jamaica"
      %li
        = link_to "discover Cuba".titleize, discover_cuba_path, class: "icon icon-location cuba"
      %li
        = link_to "discover Brazil".titleize, discover_brazil_path, class: "icon icon-location brazil"
    %li
      %a.icon.icon-about-us{:href => "#"} Menu
    %li
      %a.icon.icon-study{:href => "#"} About Us
    %li
      %a.icon.icon-photo{:href => "#"} Blog
    %li
      %a.icon.icon-wallet{:href => "#"} Account
  .menu-endcap