#icon_name.icon.icon-stack
  KULA
  %span#st-trigger-effects
    %button{"data-effect" => "nav-reveal", class: 'fa fa-bars' }
      menu
%nav#menu-2.st-menu.nav-reveal
  %ul
    %li
      = link_to 'Destinations', "/destinations"
    %li
      %a.icon.icon-location{:href => "#"} About Us
    %li
      %a.icon.icon-study{:href => "#"} Study
    %li
      %a.icon.icon-photo{:href => "#"} Collections
    %li
      %a.icon.icon-wallet{:href => "#"} Credits