%nav#menu-2.st-menu.st-effect-2
  %h2.icon.icon-stack Sidebar
  %ul
    %li
      %a.icon.icon-data{:href => "#"} Destinations
    %li
      %a.icon.icon-location{:href => "#"} About Us
    %li
      %a.icon.icon-study{:href => "#"} Study
    %li
      %a.icon.icon-photo{:href => "#"} Collections
    %li
      %a.icon.icon-wallet{:href => "#"} Credits