.top-nav-stack
  #icon_name
    %span#st-trigger-effects
      %button{"data-effect" => "nav-reveal", class: 'nav-hamburger' }
        .menu menu
        %i.fa.fa-bars.fa-3x
    %span.app_name KULA
%nav#menu-2.st-menu.nav-reveal
  %ul
    %li
      %a.icon.icon-destinations{:href => "#"} Destinations
    %ul.location-list
      %li
        %a.icon.icon-location{:href => "#"} Jamaica
      %li
        %a.icon.icon-location{:href => "#"} Brazil
      %li
        %a.icon.icon-location{:href => "#"} Cuba
    %li
      %a.icon.icon-about-us{:href => "#"} About Us
    %li
      %a.icon.icon-study{:href => "#"} Study
    %li
      %a.icon.icon-photo{:href => "#"} Collections
    %li
      %a.icon.icon-wallet{:href => "#"} Credits