%nav#menu-2.st-menu.nav-reveal
  %h2.icon.icon-stack KULA
  %ul
    %li
      = link_to 'Destinations', "/destinations"
    %li
      %a.icon.icon-location{:href => "#"} About Us
    %li
      %a.icon.icon-study{:href => "#"} Study
    %li
      %a.icon.icon-photo{:href => "#"} Collections
    %li
      %a.icon.icon-wallet{:href => "#"} Credits