.st-pusher
  .st-content
    / this is the wrapper for the content
    .st-content-inner
      / extra div for emulating position:fixed of the menu
      .codrops-top.clearfix
      %header.codrops-header
        %h1
          Sidebar Transitions
          %span Transition effects for off-canvas views
      .main.clearfix
        #st-trigger-effects.column
          %button{"data-effect" => "st-effect-2"} Reveal
