.st-pusher
  .st-content
    / this is the wrapper for the content
    .st-content-inner
      / extra div for emulating position:fixed of the menu
      .codrops-top.clearfix
      %header.codrops-header
        %h1
          discover authentically-prepared cultural cuisines
          %span delivered directly to your door. * No cooking or travel required *
      .main.clearfix
        #st-trigger-effects.column
          %button{"data-effect" => "nav-reveal"} reveal


