.main
  .intro-index
    %blockquote
      %em
        discover authentically-prepared cultural cuisines
        delivered directly to your door.

  %h1.header-title
    %span.header-title__part-index No cooking or travel required
