/*Side Navigation Mixins*/

@mixin sidebar-image-format {
  background-size: 300px 200px;
  background-repeat: no-repeat;
  height: 200px;
  text-align: center;
}

@mixin default-border {
  border: 1px solid #999;
}