*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.app-container,
.st-pusher,
/*.st-content,*/
.st-content-home,
.st-content-jamaica {
	height: 100%;
}

.page-index-billboard {
	width: 100%;
/*  &:before {
    content: '';
		position: absolute;
		top: 900px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(243, 239, 224, 0), rgba(243, 239, 224, 1));
		opacity: 1;
  }	*/
}

.st-content-jamaica {
	background-image: image-url('tropical_paradise.jpg');
	background-position: center;
	background-size: cover;
	margin-top: -100px;
  &:before {
    content: '';
		position: absolute;
		top: 900px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(243, 239, 224, 0), rgba(243, 239, 224, 1));
		opacity: 1;
  }
}

.st-content {
	margin-top: -42px;
/*  &:before {
    content: '';
		position: absolute;
		top: 900px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, rgba(243, 239, 224, 0), rgba(243, 239, 224, 1));
		opacity: 1;
  }*/
}

.container.how-it-works {
    color: #FFF;
    border: 2px solid #FFF;
    font-size: 40px;
    margin-top: 400px;
}


.st-content-jamaica,
.st-content-home {
	position: relative;
	padding: 0px 60px;
}

.st-content-inner {
  width: 100%;
}

.app-container {
	position: relative;
  overflow: scroll;
  /*background: #f3efe0;*/
}

.st-pusher {
	position: relative;
	top: -100px;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 97%;
	background: rgba(0,0,0, 0.3);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.menu-endcap {
	height: 35%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(243, 239, 224, 0), rgba(243, 239, 224, 1));
	opacity: 1;
}

/* content style */

.map-container {
  position: absolute;
  z-index: -1;
  top: 600px;
	position: absolute;
	left: 0;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(243, 239, 224, 1), rgba(243, 239, 224, 0));
}

.container.main {
  max-width: 69em;
  z-index: 1;
  position: relative;
  margin-left: 300px;
  margin-top: -700px;
  color: #FFF;
}

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a,
#icon_name {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


/* Effect 2: Reveal */

#side-menu-items {
	-webkit-transform: translate3d(450px, 0, 0);
	transform: translate3d(450px, 0, 0);
}

.nav-reveal.st-menu-open .st-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.nav-reveal.st-menu {
	z-index: 1;
	margin-top: 100px;
}

.nav-reveal.st-menu-open .nav-reveal.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.nav-reveal.st-menu::after {
	display: none;
}

#icon_name {
  margin-bottom: 100px;
  position: relative;
  z-index: 100;
  color: inherit;
  margin-bottom: -50px;
  width: 300px;
  box-shadow: none;
	span.app_name {
    font-size: 4em;
    margin-top: 0px;
    color: #FFF;
    text-shadow: 1px 1px 6px #333;
	}
}

.color-transition {
	color: #388a5a !important;
	cursor: pointer;
}

.menu-icon-transition {
	opacity: 0;
	cursor: auto;
}

button.nav-hamburger {
	float: left;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: 300px;
}