.icon:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 0.8em;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
}
