@import "_mixin_base";

a.icon.icon-location {
  background-color: lighten(#2c774b, 20%);
  text-transform: none;
}

a.icon.icon-location.jamaica {
  background-image: image_url('jamaica_port_antoinio.jpg');
  @include sidebar-image-format;
}

a.icon.icon-location.brazil {
  background-image: image_url('brazil.jpg');
  @include sidebar-image-format;
}

a.icon.icon-location.cuba {
  background-image: image_url('cuba.jpg');
  @include sidebar-image-format;
}