@import "_mixin_base";

.location-list-item {
  height: 200px;
  width: 300px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.location-list-item .icon-location:hover {
  height: 300px;
  width: 400px;
}

a.icon.icon-location {
  background-color: lighten(#2c774b, 20%);
  text-transform: none;
}

a.icon.icon-location.jamaica {
  background-image: image_url('jamaica_port_antoinio.jpg');
  @include sidebar-image-format;
}

a.icon.icon-location.brazil {
  background-image: image_url('brazil.jpg');
  @include sidebar-image-format;
}

a.icon.icon-location.cuba {
  background-image: image_url('cuba.jpg');
  @include sidebar-image-format;
}

li a.meal {
  border: 1px solid rgba(255,255,255, 0.4);
  width: inherit;
  height: 200px;
  margin: 10px;
}