= render partial: "shared/head"

%nav.navbar.navbar-fixed-top.admin-top
  %h1 Admin Panel

.container.admin



  .container.actions
    .panel.action
    .panel.action
    .panel.action
.admin-navigation


